<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bienvenido - Repotaxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f9f9f9">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <!-- contenedor principal -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="700"
                   style="border: 1px solid #cccccc; border-collapse: collapse;">
                <!-- cabecera -->
                <tr>
                    <td align="center" bgcolor="#192123"
                        style=" color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">

                        <img src="http://i1244.photobucket.com/albums/gg575/Biaku/logomail_zpsdcfon2fi.png" border="0"
                             alt="Bienvenido a REPORTAXI"
                             width="600"
                             height="230"
                             style="display: block;"/>

                    </td>
                </tr>
                <!-- datos cliente y empresa -->
                <tr style="font-family: Arial, sans-serif; background-color: #fff; height: 350px; vertical-align: top">
                    <td style="padding: 40px 30px 10px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody style="font-family: 'Nunito Sans', sans-serif;">
                            <tr>
                                <td colspan="2"><h1>¡Gracias por registrarse!</h1></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-bottom: 15px;">Estos son tus datos de usuario:</td>
                            </tr>
                            <tr>
                                <td><b>Usuario:</b> {{ user }}</td>
                            </tr>
                            <tr>
                                <td><b>Contraseña:</b> {{ pass }}</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 15px">Recuerda guardarlos en un lugar seguro y no compartirlos
                                    con nadie.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 25px; text-align: center;">
                                    <h1>
                                        <a href="http://reportaxi.com/publicar/" target="_blank"
                                           style="text-align: center;text-decoration: none; color: #f8c12c;">
                                            PUBLICAR
                                        </a>
                                    </h1>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#192123" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; text-align: center;"
                                    width="75%">Recuerda visitar <a href="http://reportaxi.com" style="color: #f8c12c">reportaxi.com</a>
                                    para reportar el servicio de los taxis.
                                    <br>
                                    <br>
                                    REPORTAXI &copy; 2018
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table><!-- fin contenedor principal -->
        </td>
    </tr>
</table>
</body>
</html>