{% extends 'base.html' %}
{% block title_tab %}
    ¿Sabias que? - Reportaxi
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Sabias que?</h3>
                <p>De acuerdo a la LEY DE TRANSPORTES PARA EL ESTADO DE TABASCO</p>
                <p>ARTÍCULO 34.- <u>El servicio de taxi</u> compartido es aquel que, proporcionando un
                    servicio, en el recorrido pueda realizar el ascenso de más pasajeros para
                    prestar otro servicio, <u>siempre y cuando no se desvíe de su trayectoria
                        originaria</u>, es decir, se respete el orden de prelación de la solicitud de servicio.
                    La Secretaría determinará la jurisdicción para este servicio, así como la tarifa a
                    operar dentro de la misma, cuidando que no se afecte la prestación del servicio
                    de transporte colectivo de pasajeros.</p>
                <p>ARTÍCULO 35.- <u>El servicio de taxi especial</u> es el que una vez iniciado el
                    servicio <u>no podrá proporcionar durante el desarrollo de éste otro servicio</u>, sino
                    hasta culminar el que fue requerido originalmente.</p>
                <p>ARTÍCULO 36.- <u>El servicio de taxi Plus o Radiotaxi</u> se autorizará para prestarlo
                    cuando sea solicitado por teléfono o cualquier otro medio de telecomunicación
                    y una vez iniciado el servicio <u>no podrá proporcionar durante el desarrollo de
                        éste otro servicio</u>, sino hasta culminar el que fue requerido originalmente.</p>

            </div>
        </div>
    </div>


{% endblock %}