{% extends 'base.html' %}
{% block title_tab %}
    Sectores - Reportaxi
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>SECTORES DE TAXI Y RADIOTAXI EN VILLAHERMOSA</h3>
                <p>
                Informacion obtenida de la pagina oficial de la Secretaria de Transporte
                <a href="https://tabasco.gob.mx/sectores-de-taxi-y-radiotaxi-en-villahermosa" target="_blank">
                    clic aqui para mas informacion
                </a>
            </p>
            <img src="http://farm4.staticflickr.com/3666/12126952515_e2a7baa540.jpg" class="img-fluid">
            <img src="http://farm4.staticflickr.com/3716/12127612356_48ccd3e74f.jpg" class="img-fluid">
            <img src="http://farm3.staticflickr.com/2852/12127611946_84a5512244.jpg" class="img-fluid">
            <img src="http://farm6.staticflickr.com/5523/12127352964_11d8fe01c7.jpg" class="img-fluid">
            <img src="http://farm4.staticflickr.com/3790/12127352464_806155dd8e.jpg" class="img-fluid">
            <img src="http://farm8.staticflickr.com/7409/12127610686_825e22dab0.jpg" class="img-fluid">
            <img src="http://farm6.staticflickr.com/5493/12126949905_a2164c9f6e.jpg" class="img-fluid">
            </div>
        </div>
    </div>


{% endblock %}